header {
  width:100%;
  position:fixed;
  z-index:1;
  height:48px;
}
header a {
  margin-right:15px;
  float: left;
  line-height:48px;
  text-decoration:none;
  color:white;
}
header a:hover {
  color:white;
}
/* main部分 */
.img-fluid {
  width:100%;
  height:650px;
}
.main-wrapper {
  padding-top:20px;
  background-color: rgb(240,248,255);
  border:4px solid  #b0c4de;
}
.main-wrapper p {
  border-radius:10px;
  border:4px solid  #b0c4de;
  font-size:30px
}
.main-message {
  margin:  0;             /* デフォルトCSS打ち消し */
    font-size:  40px;       /* 文字サイズ指定 */
    position:  relative;    /* 位置調整 */
    font-weight:  normal;   /* 文字の太さ調整 */
    background: linear-gradient(to right, rgb(48, 224, 192) 0%,rgba(96,155,208,0.7) 30%,rgba(125,185,232,0) 100%);/* グラデーション指定 */
    padding:  10px;         /* 余白指定 */
    margin-bottom: 15px;    /* 周りの余白指定 */
    border-radius:  2px;    /* 角丸指定 */
    text-shadow: 3px 6px 9px #676565;
}
.food-loss {
  margin:  0;             /* デフォルトCSS打ち消し */
    font-size:  65px;       /* 文字サイズ指定 */
    position:  relative;    /* 位置調整 */
    font-weight:  normal;   /* 文字の太さ調整 */
    background: linear-gradient(to right, rgb(48, 224, 192) 0%,rgba(96,155,208,0.7) 30%,rgba(125,185,232,0) 100%);/* グラデーション指定 */
    padding:  10px;         /* 余白指定 */
    margin-bottom: 15px;    /* 周りの余白指定 */
    border-radius:  2px;    /* 角丸指定 */
    text-shadow: 3px 6px 9px #676565;
}
.text-color {
  color:red;
  font-weight:bold;
}
.card-title {
  margin:  0;             /* デフォルトCSS打ち消し */
    font-size:  30px;       /* 文字サイズ指定 */
    position:  relative;    /* 位置調整 */
    font-weight:  bold;   /* 文字の太さ調整 */
    margin-bottom: 15px;    /* 周りの余白指定 */
    border-bottom: solid 4px rgba(76, 175, 80, 0.6);        /* 線指定 */
    border-radius: 0px 0px 160px 180px/0px 0px 20px 4px;
}


